html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    user-select: none;
}

/* Bunger menu :D */

.burger-menu {
    position: absolute;
    z-index: 5;
    width: 50px;
    height: 50px;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.burger-menu span {
    background: #0c442c;
    width: 28px;
    height: 4px;
    border-radius: 6px;
    position: absolute;
    right: 13px;
}

.burger-menu span:nth-child(1) {
    top: 12px;
}.burger-menu span:nth-child(2) {
     top: 22px;
 }.burger-menu span:nth-child(3) {
      top: 32px;
  }

.burger-menu.active span:nth-child(1) {
    animation: top-burger-active .6s ease-in-out forwards;
}
.burger-menu.active span:nth-child(3) {
    animation: bottom-burger-active .6s ease-in-out forwards;
}
.burger-menu.inactive span:nth-child(1) {
    animation: top-burger-inactive .6s ease-in-out forwards;
}
.burger-menu.inactive span:nth-child(3) {
    animation: bottom-burger-inactive .6s ease-in-out forwards;
}

@keyframes top-burger-active {
    0% {
        right: 13px;
    }
    30% {
        width: 20px;
        right: 17px;
    }
    90% {
        top: 12px;
    }
    100% {
        top: 16px;
        width: 20px;
        right: 17px;
    }
}

@keyframes top-burger-inactive {
    0% {
        top: 16px;
        width: 20px;
        right: 17px;
    }
    30% {
        top: 12px;
    }
    90% {
        width: 20px;
        right: 17px;
    }
    100% {
        right: 13px;
    }
}

@keyframes bottom-burger-active {
    0% {
        right: 13px;
    }
    30% {
        right: 17px;
        width: 20px;
    }
    90% {
        top: 32px;
    }
    100% {
        top: 28px;
        width: 20px;
        right: 17px;
    }
}

@keyframes bottom-burger-inactive {
    0% {
        top: 28px;
        width: 20px;
        right: 17px;
    }
    30% {
        top: 32px;
    }
    90% {
        right: 17px;
        width: 20px;
    }
    100% {
        right: 13px;
    }
}

@media (min-width: 1025px) {

body {
        overflow: hidden;
        margin: 0;
        background: linear-gradient(90.05deg, #FFF1F1 -1.74%, #C4D6CE 86.41%);
}

/* navmenu */
.navigation-menu {
    opacity: 1;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity .3s ease-in-out;
    background: rgb(255, 241, 241);
    background: linear-gradient(90deg, rgba(255, 241, 241, 1) 0%, rgba(196, 214, 206, 1) 100%);
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

.closed-nav {
    opacity: 0;
    pointer-events: none;
    user-select: none;
}

#menu {
    height: 100vh;
    display: flex;
    align-items: center;
}

#menu-items {
    margin-left: clamp(2rem, 12vw, 35rem);
    position: relative;
    z-index: 2;
}

#menu-items:hover > .menu-item {
    opacity: .3;
}

#menu-items:hover > .menu-item:hover {
    opacity: 1;
}

.menu-item {
    color: #0C442C;
    font-size: clamp(3rem, 8vw, 7rem);
    font-family: 'Lora', serif;
    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0;
    transition: opacity 400ms ease;
}

#menu-pattern {
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(
            rgba(12, 68, 44, .3) 9%,
            transparent 9%
    );
    filter: blur(4px);
    background-position: 0 0;
    background-size: 12vmin 12vmin;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: .6s ease;
}

#menu-items:hover ~ #menu-pattern {
    background-size: 11vmin 11vmin;
    opacity: .5;
}

#menu[data-active-index="1"] > #menu-pattern {
    background-position: 0 -25%;
}
#menu[data-active-index="2"] > #menu-pattern {
    background-position: 0 -50%;
}
#menu[data-active-index="3"] > #menu-pattern {
    background-position: 0 -75%;
}
#menu[data-active-index="4"] > #menu-pattern {
    background-position: 0 -100%;
}


.gif {
    display: block;
    position: absolute;
    height: 100vh;
    right: 0;
    opacity: 1;
    transform: .2s ease-in-out;
}

.menu-inactive {
    opacity: 0;
}

/* end of navmenu */

.pagina-produse {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: flex-end;
}

/* Main content */

.text-header {
    font-family: 'Lora', sans-serif;
    color: #0c442c;
    font-size: 7vw;
    pointer-events: none;
    font-weight: 600;
    transition: .4s ease-in-out;
    position: absolute;
    left: 6vw;
    top: -11vh;
    user-select: none;
}

.header-hovered {
    font-size: 5rem;
    top: -3%;
    opacity: .7;
}

.line-break {
    height: 3px;
    width: 55%;
    background: #0c442c;
    position: absolute;
    right: 0;
    top: 12%;
    transition: .4s ease-in-out;
}

.hovered {
    width: 24%;
    opacity: .7;
}

.slideshow-products > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% 50%;
    transition: .5s ease-in-out;
    filter: grayscale(90%);
}

.slideshow-products > .image:hover {
    transform: scale(1.08);
    filter: none;
}

.slideshow-products:has(.image:hover) .image:not(.image:hover) {
    opacity: 0.6;
}

.slideshow-products {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -40%);
    user-select: none;
}

.product-info {
    position: absolute;
    width: 34%;
    height: 20%;
    top: 3%;
    left: 34%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#category {
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    color: #0c442c;
    font-weight: 900;
    margin-bottom: 0;
    user-select: none;
}

#info,
.gif-guide {
    font-size: .9rem;
    font-family: 'Poppins', sans-serif;
    color: #0c442c;
    text-align: center;
    margin-top: 0;
    user-select: none;
}

.gif-guide {
    font-size: 1.2rem;
}

.gif-drag {
    opacity: 1;
    position: absolute;
    top: 44%;
    left: 10%;
    width: 20%;
    height: 15%;
    transition: opacity .4s;
}

.mouse-gif {
    opacity: 1;
    position: absolute;
    top: 40%;
    left: 13%;
    width: 15%;
    height: 30%;
    transition: opacity .4s;
}

.drag-started {
    opacity: 0;
}

/* Footer section */

.footer {
    flex-direction: column;
}

.footer-wrapper, .footer {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(18, 18, 18);
}

.footer-smalldesc {
    padding-left: 5vw;
    width: 50%;
    height: 4vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer-logo {
    height: 5vh;
    user-select: none;
}

.footer-desc {
    color: rgba(255, 241, 241, 0.49);
    font-size: 0.7vw;
    font-family: 'Poppins', sans-serif;
    pointer-events: none;
    user-select: none;
    margin: 0;
}

.footer-navlist {
    width: 50%;
    padding-right: 5vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

.anchors {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1vw;
    margin: 0;
}

.footer-anchor:hover {
    color: rgb(255, 241, 241);
}

.footer-anchor {
    color: rgba(255, 241, 241, 0.49);
    font-family: Poppins, sans-serif;
    cursor: pointer;
    font-size: 0.8vw;
    transition: all 0.2s ease-in-out 0s;
}

.termsconds {
    font-size: 0.6vw;
}

.footer-break {
    width: 90%;
    height: 1px;
    background: rgb(255, 241, 241);
    margin: 0.4vh 0px;
}

#copyright {
    margin-bottom: 1vh;
}

.mobile-title,
.mobile-desc,
.mobile-hr {
    display: none;
}

}

@media (max-width: 1025px) {

body {
    width: 100dvw;
    overflow-x: hidden;
    margin: 0;
    background: linear-gradient(90.05deg, #FFF1F1 -1.74%, #C4D6CE 86.41%);
}

.gif-drag,
.mouse-gif,
.product-info,
.menu-pattern,
.gif,
.footer-break {
    display: none;
}

.pagina-produse {
    height: 100svh;
    display: flex;
    flex-direction: column;
}

.text-header {
    font-family: 'Lora', sans-serif;
    color: #0C442C;
    font-size: max(3rem, 12vw);
    pointer-events: none;
    font-weight: 600;
    transition: .4s ease-in-out;
    position: relative;
    left: 4%;
    top: 0;
    user-select: none;
}

.line-break {
    height: 3px;
    width: 40%;
    background: #0c442c;
    position: absolute;
    right: 0;
    top: max(80px, 12%);
    transition: .4s ease-in-out;
}

.slideshow-products > .image {
    width: 40vw;
    border-radius: 10%;
    margin-bottom: 5vh;
}

.slideshow-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.mobile-title,
.mobile-desc {
    font-family: "Poppins", sans-serif;
    font-size: 3vw;
    color: #0C442C;
    font-weight: 400;
    text-align: center;
    margin: 2vh;
}

.mobile-title {
    font-size: 6vw;
    font-weight: 600;
}

.mobile-hr {
    width: 100%;
    height: 5px;
    background-color: #0C442C;
    opacity: .8;
}

/* Mobile footer */

.footer {
    display: flex;
    flex-direction: column;
    background: rgb(18, 18, 18);
    color: rgba(255, 241, 241, 0.49);
    font-family: "Poppins", sans-serif;
    padding: 2vw;
}

.anchors {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-decoration: none;
}

.footer-logo {
    width: 30%;
    margin-left: 4vw;
}

.anchors > a {
    text-decoration: none;
    font-size: 3vw;
    color: #f1f1f1;
}

.footer-desc {
    font-size: 3vw;
    text-align: center;
}
/* End of mobile footer */

/* Mobile menu */

.navigation-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(90.05deg, #FFF1F1 -1.74%, #C4D6CE 86.41%);
    z-index: 4;
    opacity: 1;
    transition: .3s ease-in-out;
}

.closed-nav {
    opacity: 0;
    pointer-events: none;
    user-select: none;
}

#menu-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2vh;
    padding: 15vw;
}

.menu-item {
    font-family: "Lora", sans-serif;
    color: #0C442C;
    font-size: 12vw;
    font-weight: 900;
}

/* End of mobile menu */

}